<div class="footer">
  <div class="upper-foot">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
        <address>
          <i class="fa fa-map-marker"></i>Địa chỉ: 32/11 Lương Thế Vinh F.Tân Thới Hoà Q.Tân Phú
          Thành phố Hồ Chí Minh.<br>
          <i class="fa fa-phone"></i> Hotline: 0937 691 633<br>
          <i class="fa fa-phone"></i> Hotline: 0909 685 985<br>
          <i class="fa fa-envelope"></i> Email: <a href="mailto:ngoclinh3042003@yahoo.com?__xt__=33.%7B%22logging_data%22%3A%7B%22event_type%22%3A%22clicked_open_url_action%22%2C%22impression_info%22%3A%22eyJmIjp7InN0eWxlIjoiMzgiLCJpdGVtX2NvdW50IjoiMCJ9fQ%22%2C%22surface%22%3A%22www_page_about_tab%22%2C%22interacted_story_type%22%3A%22718520444955922%22%2C%22session_id%22%3A%22bf133bdc7d6215e50eb737fb36f20b4c%22%7D%7D"><font color="#999999">ngoclinh2042003@yahoo.com</font></a>
          <div class="button-row" style="text-align: center; margin: 10px 0px 10px 0px;">
              <a mat-mini-fab href="https://www.facebook.com/ha.store86/" style="font-size: 2em;">f</a>
          </div>
        </address>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3> LIÊN KẾT HỮU ÍCH </h3>
        <ul class="list-unstyled">
          <li><a href="#"><font color="#999999"> Dịch vụ </font></a></li>
          <li><a href="#"><font color="#999999"> Báo cáo tín dụng (miễn phí) </font></a></li>
          <li><a href="#"><font color="#999999"> Các điều khoản và điều kiện </font></a></li>
          <li><a href="#"><font color="#999999"> Chính sách bảo mật </font></a></li>
          <li><a href="#"><font color="#999999"> Hướng dẫn mua hàng </font></a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3> Bộ Sưu Tập </h3>
        <ul class="list-inline tagclouds">
          <li><a href="#"><font color="#999999"> Mùa đông </font></a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3> NHẬN EMAIL THÔNG BÁO HÀNG MỚI, DỊCH VỤ </h3>
        <p> Nhận thông tin thời trang hàng mới và thông báo dịch vụ từ Hà Store. </p>
        <form class="form-inline form-newsletter" role="form">
          <div class="form-group" style="width: 100%;">
            <label class="sr-only" for="exampleInputEmail2"> Địa chỉ Email: </label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Nhập địa chỉ email của bạn">
            <button type="submit" class="btn btn-white" style="margin: 5px 0px 5px 0px;"><i class="fa fa-caret-right"> Đăng ký </i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <div class="below-foot" style="margin: 10px 10px 0px 0px;">
    <div class="row">
      <div class="col-xs-6 copyrights">
        <p>Copyright © 2017 Hà Store. Designed by <a href="#" (click)="false"><font color="white">Phong Leo</font></a><br>All rights reserved.</p>
      </div>
     
    </div>
  </div>
</div>