<carousel>
  <slide>
    <img src="assets/images/banner/slider1.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        <button type="button" class="btn btn-white">BUY NOW</button>
    </div>
  </slide>
  <slide>
    <img src="assets/images/banner/slider2.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        <button type="button" class="btn btn-white">BUY NOW</button>
      </div>
  </slide>
  <slide>
    <img src="assets/images/banner/slider3.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        <button type="button" class="btn btn-white">BUY NOW</button>
      </div>
  </slide>
</carousel>

<br>
<br>
<div>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <a href="#" style="margin: 15px;">
              <img src="assets/images/banner/ad-1.png" class="img-responsive" alt="Ad">
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="#" style="margin: 15px;">
              <img src="assets/images/banner/ad-2.png" class="img-responsive" alt="Ad">
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="#" style="margin: 15px;">
              <img src="assets/images/banner/ad-3.png" class="img-responsive" alt="Ad">
            </a>
        </mat-grid-tile>
      </mat-grid-list>
</div>
<br>

<div>
    <hr><h2 class="title"><span>Top Selling</span></h2>
    <div style="text-align: center; margin: 0px 10px 0px 0px;" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <button mat-mini-fab color="accent" [disabled]="leftNavDisabled" (click)="moveLeft()">
            <mat-icon aria-label="Example icon-button with a heart icon">arrow_left</mat-icon>
        </button>
        <button mat-mini-fab color="accent" [disabled]="rightNavDisabled" (click)="moveRight()">
            <mat-icon aria-label="Example icon-button with a heart icon">arrow_right</mat-icon>
        </button>
    </div>
    <div class="demo-border">
        <div class="demo-one"
            drag-scroll
            drag-scroll-y-disabled="true"
            scrollbar-hidden="true"
            (reachesLeftBound)="leftBoundStat($event)"
            (reachesRightBound)="rightBoundStat($event)"
            #nav>
            <img *ngFor="let image of imagelist" [src]="'assets/images/banner/' + image" (click)="clickItem(image)"/>
        </div>
    </div>
    

</div>

<div class="container">
    <mat-card class="lookbook">
      <h2><a href="#"><font color="white">Lookbook Women</font></a></h2>
      <p>Ngay cả một nụ cười trước đó, bất kỳ bóng rổ từ cổng. Đối với số nguyên và cà rốt eu họng. Bên cạnh đó, nhu cầu lâm sàng quan trọng. Proin facilisis mi ornare turpis sollicitudin; hoặc cấu trúc của phim hoạt hình. Cục sản xuất nghèo luôn..</p>
    </mat-card>
  </div>